/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

:root {
  margin: 0;
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  background: #fff;
  font-family: "Roboto", sans-serif;
  min-width: 320px;
  margin: 0;
}

h1 {
  font-family: "Shrikhand", cursive;
  font-weight: 900;
  font-size: 1.75rem;
  margin: 0;
}

h2 {
  font-size: 1.5rem;
  font-weight: 800;
}

h3 {
  font-size: 1.2rem;
  font-weight: 500;
}

p,
li {
  font-weight: 500;
}

p {
  font-size: 1.1rem;
  font-weight: 300;
}

a,
a :visited {
  text-decoration: none;
  color: #000000;
  padding: 0;
  cursor: pointer;
}

.link {
  text-decoration: none;
}

main {
  width: auto;
  margin: auto;
}

.header {
  display: flex;
  align-items: center;
  height: 2rem;
  position: relative;
  justify-content: center;
  padding: 1rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
}
.header__logo img {
  height: 2.1rem;
  font-family: "Shrikhand", cursive;
}

/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

:root {
  margin: 0;
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  background: #fff;
  font-family: "Roboto", sans-serif;
  min-width: 320px;
  margin: 0;
}

h1 {
  font-family: "Shrikhand", cursive;
  font-weight: 900;
  font-size: 1.75rem;
  margin: 0;
}

h2 {
  font-size: 1.5rem;
  font-weight: 800;
}

h3 {
  font-size: 1.2rem;
  font-weight: 500;
}

p,
li {
  font-weight: 500;
}

p {
  font-size: 1.1rem;
  font-weight: 300;
}

a,
a :visited {
  text-decoration: none;
  color: #000000;
  padding: 0;
  cursor: pointer;
}

.link {
  text-decoration: none;
}

main {
  width: auto;
  margin: auto;
}

/* footer*/
.bloc {
  display: flex;
  flex-direction: column;
  background: #353535;
  padding: 1rem 1.3rem;
}
.bloc__heading {
  font-weight: 500;
  color: #fff;
  font-family: "Shrikhand", cursive;
  margin: 0;
  padding: 1rem 0rem;
}
.bloc a {
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
  padding: 0.3rem;
}
.bloc a i {
  color: #fff;
  padding-right: 1rem;
}

.bloc__link {
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
  margin: 0;
  padding: 0.3rem;
}

.fa-arrow-left {
  display: flex;
  font-size: 1.2rem;
  top: 1.4rem;
  left: 2rem;
  bottom: 1rem;
  justify-content: center;
  position: absolute;
}

.background__image {
  display: flex;
}
.background__image img {
  max-height: 32rem;
  max-width: 100%;
  width: 100%;
  object-fit: cover;
}

.menus {
  justify-content: center;
  border-radius: 3rem 3rem 0 0;
  background: #f6f6f6;
  margin-top: -4rem;
  position: relative;
}

.menus-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 2rem 0rem;
}
.menus-container__btnheart {
  padding: 0;
  align-items: center;
  justify-content: center;
  font-weight: lighter;
  right: 2rem;
  font-size: 1.7rem;
  background-color: transparent;
  border: none;
  position: absolute;
}
.menus-container__btnheart:hover {
  font-weight: 900;
  background: linear-gradient(#ff7ad9, #9356DC);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 500ms;
}
.menus-container .fa-heart {
  font-weight: lighter;
}

.menus-meal {
  display: flex;
  flex-direction: column;
  padding-left: 4%;
  padding-right: 4%;
}

.menu__entries {
  display: flex;
  flex-wrap: wrap;
  padding: 1.15rem 0;
}

.menu__title {
  font-weight: 100;
  text-transform: uppercase;
  position: relative;
}
.menu__title:after {
  content: "";
  width: 3.5rem;
  height: 0.25rem;
  top: 1.813rem;
  left: 0;
  position: absolute;
  background-color: #99E2D0;
}

.speciality__appearance {
  animation: appearance 2s;
  animation-fill-mode: both;
}
.speciality__appearance:nth-child(1) {
  animation-delay: 100ms;
}
.speciality__appearance:nth-child(2) {
  animation-delay: 200ms;
}
.speciality__appearance:nth-child(3) {
  animation-delay: 300ms;
}
.speciality__appearance:nth-child(4) {
  animation-delay: 400ms;
}
.speciality__appearance:nth-child(5) {
  animation-delay: 500ms;
}
.speciality__appearance:nth-child(6) {
  animation-delay: 600ms;
}
.speciality__appearance:nth-child(7) {
  animation-delay: 700ms;
}
.speciality__appearance:nth-child(8) {
  animation-delay: 800ms;
}
.speciality__appearance:nth-child(9) {
  animation-delay: 900ms;
}
.speciality__appearance:nth-child(10) {
  animation-delay: 1000ms;
}
@keyframes appearance {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.speciality {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin: 0.413rem 0.938rem;
  background-color: #fff;
  margin-top: 0.75rem;
  border-radius: 1.3rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.speciality:hover .notch {
  transition: 300ms;
  animation: both;
  cursor: pointer;
  margin-right: 0rem;
}
.speciality:hover .fa-circle-check {
  transform: rotate(360deg);
  transition-duration: 0.9s;
}

.speciality__names {
  align-self: center;
  padding: 0.413rem 0.938rem;
  overflow: hidden;
}
.speciality__names h3,
.speciality__names p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0;
  align-items: center;
}

.speciality__price {
  display: flex;
  gap: 0.938rem;
}
.speciality__price .notch {
  display: flex;
  background: #99E2D0;
  padding: 0 1.265rem;
  height: 4.385rem;
  align-items: center;
  margin-right: -4.063rem;
  border-radius: 0 1.3rem 1.3rem 0;
  transition-duration: 0.9s;
}
.speciality__price .fa-circle-check {
  color: white;
  align-items: center;
  font-size: 1.5rem;
}
.speciality__price p {
  align-items: center;
  padding-top: 2.3rem;
  padding-right: 0.313rem;
  font-weight: 500;
  margin: 0;
}

.menu__dish {
  display: flex;
  flex-wrap: wrap;
  padding: 1.15rem 0;
}

.menu__desserts {
  display: flex;
  flex-wrap: wrap;
  padding: 1.15rem 0;
}

.commander {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.875rem 0 6rem;
}
.commander__btn {
  display: flex;
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(#ff7ad9, #9356DC);
  padding: 0.88rem 1.5rem;
  border: none;
  border-radius: 2rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 1.1s;
}
.commander__btn:hover {
  opacity: 0.7;
  box-shadow: 0.25rem 0.25rem 0.625rem rgba(0, 0, 0, 0.5);
}

.bloc__link {
  color: #fff;
}

/*desktop*/
@media screen and (min-width: 1024px) {
  .menus {
    margin-left: 4rem;
    margin-right: 4rem;
  }
  .menus-meal {
    flex-direction: row;
    justify-content: space-between;
  }
  .menu__entries {
    width: 30%;
  }
  .menu__dish {
    width: 30%;
  }
  .menu__desserts {
    width: 30%;
  }
}

/*# sourceMappingURL=restaurants.css.map */
