@import url("https://fonts.googleapis.com/css2? family= Roboto:wght@300;400;500;700 & family= Shrikhand & display=swap");
@import url("https://fonts.googleapis.com/css2? family=Roboto:wght@300;400;500 & display=swap");
@import url("https://fonts.googleapis.com/css2? family= Roboto:wght@300;400;500;700 & family= Shrikhand & display=swap");
@import url("https://fonts.googleapis.com/css2? family=Roboto:wght@300;400;500 & display=swap");
:root {
  margin: 0;
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  background: #fff;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

h1 {
  font-family: "Shrikhand", cursive;
  font-weight: 900;
  font-size: 1.75rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 800;
}

h3 {
  font-size: 1.2rem;
  font-weight: 500;
}

p,
li {
  font-weight: 500;
}

p {
  font-size: 1.2rem;
  font-weight: 300;
}

a,
a :visited {
  text-decoration: none;
  color: #000000;
  padding: 0;
  cursor: pointer;
}

.link {
  text-decoration: none;
}

main {
  width: auto;
  margin: auto;
}

.header {
  display: flex;
  align-items: center;
  height: 2rem;
  position: relative;
  justify-content: center;
  padding: 1rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
}
.header__logo img {
  height: 2.1rem;
  font-family: "Shrikhand", cursive;
}

:root {
  margin: 0;
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  background: #fff;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

h1 {
  font-family: "Shrikhand", cursive;
  font-weight: 900;
  font-size: 1.75rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 800;
}

h3 {
  font-size: 1.2rem;
  font-weight: 500;
}

p,
li {
  font-weight: 500;
}

p {
  font-size: 1.2rem;
  font-weight: 300;
}

a,
a :visited {
  text-decoration: none;
  color: #000000;
  padding: 0;
  cursor: pointer;
}

.link {
  text-decoration: none;
}

main {
  width: auto;
  margin: auto;
}

/* footer*/
.bloc {
  display: flex;
  flex-direction: column;
  background: #353535;
  padding: 1rem 1.3rem;
}
.bloc__heading {
  font-weight: 500;
  color: #fff;
  font-family: "Shrikhand", cursive;
  margin: 0;
  padding: 1rem 0rem;
}
.bloc a {
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
  padding: 0.3rem;
}
.bloc a i {
  color: #fff;
  padding-right: 1rem;
}

.bloc__link {
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
  margin: 0;
  padding: 0.3rem;
}

body {
  min-width: 20rem;
}

.fa-arrow-left {
  display: flex;
  top: 1.4rem;
  left: 2rem;
  bottom: 1rem;
  justify-content: center;
  position: absolute;
}

.background__image {
  display: flex;
}
.background__image img {
  max-height: 32rem;
  max-width: 100%;
  width: 100%;
  object-fit: cover;
}

.menus {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 3rem 3rem 0 0;
  padding: 0rem 0rem 5rem;
  background: #f6f6f6;
  margin-top: -4rem;
  position: relative;
}

.menus-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem 0rem;
}
.menus-container .fa-heart {
  font-weight: 400;
  right: 2rem;
  font-size: 1.7rem;
  position: relative;
}
.menus-container .fa-heart:hover {
  font-weight: 900;
  background: linear-gradient(#ff7ad9, #9356DC);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menus-meal {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.menu__entries {
  flex-direction: column;
  max-width: 100%;
  padding: 0rem 1rem;
}

.menu__title {
  font-weight: 100;
  position: relative;
  text-transform: uppercase;
  padding-bottom: 0.5rem;
}
.menu__title:after {
  content: "";
  width: 3.5rem;
  height: 0.25rem;
  bottom: -1.2rem;
  margin: 1rem 0;
  left: 0;
  position: absolute;
  background-color: #99E2D0;
}

.speciality__appearance- {
  animation: appearance 2s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
}
.speciality__appearance- .appearance-1 {
  animation-delay: 100ms;
}
.speciality__appearance- .appearance-2 {
  animation-delay: 200ms;
}
.speciality__appearance- .appearance-3 {
  animation-delay: 300ms;
}
.speciality__appearance- .appearance-4 {
  animation-delay: 400ms;
}
.speciality__appearance- .appearance-5 {
  animation-delay: 500ms;
}
.speciality__appearance- .appearance-6 {
  animation-delay: 600ms;
}
.speciality__appearance- .appearance-7 {
  animation-delay: 700ms;
}
.speciality__appearance- .appearance-8 {
  animation-delay: 800ms;
}
.speciality__appearance- .appearance-9 {
  animation-delay: 900ms;
}
.speciality__appearance- .appearance-10 {
  animation-delay: 1000ms;
}
@keyframes appearance {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.speciality__choice {
  align-items: center;
  padding: 1rem;
  margin: 1rem 0rem 1.3rem;
  border-radius: 1.3rem;
  position: relative;
  background-color: #fff;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.speciality__choice:hover .speciality__price {
  transition: 300ms ease-in-out;
  animation: both;
  right: 5.5rem;
}
.speciality__choice:hover .speciality__notch {
  transition: 300ms ease-in-out;
  animation: both;
  cursor: pointer;
  margin-right: 3.4rem;
}
.speciality__choice:hover .fa-circle-check {
  transform: rotate(360deg);
  transition-duration: 0.9s;
}
.speciality__choice:hover .speciality__names {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.speciality__notch {
  width: 4rem;
  top: 0rem;
  right: -3.5rem;
  margin: 0rem -1rem 0rem 1rem;
  align-items: center;
  border-radius: 0 1.3rem 1.3rem 0;
  background: #99E2D0;
  position: absolute;
  transition-duration: 0.5s;
}
.speciality__notch .fa-circle-check {
  display: flex;
  height: 5rem;
  color: white;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
}

.speciality__names {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.speciality__names h3,
.speciality__names p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0;
  align-items: center;
}

.speciality__price {
  top: 3rem;
  right: 1rem;
  font-weight: 500;
  position: absolute;
}

.menu__dish {
  flex-direction: column;
  max-width: 100%;
  padding: 0rem 1rem;
}

.menu__desserts {
  flex-direction: column;
  max-width: 100%;
  padding: 0rem 1rem;
  padding-bottom: 3rem;
}

.commander {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.commander__btn {
  display: flex;
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(#ff7ad9, #9356DC);
  padding: 0.88rem 1.4rem;
  border: none;
  border-radius: 2rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 1.1s;
}
.commander__btn:hover {
  color: #0065fc;
  opacity: 0.8;
}

.bloc__link {
  color: #fff;
}

/*desktop*/
@media screen and (min-width: 1024px) {
  body {
    min-width: 74.44rem;
  }
  .menus-meal {
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
  }
}

/*# sourceMappingURL=Restaurants.css.map */
