@import"./base/_base";
@import"./utils/_variable";
@import"./utils/_mixins";

/*animation*/
.loading {
    display: flex;
    height: 100%;
    width: 100%;
    position: fixed;
    align-items: center;
    justify-content: center;
    background-color: rgb(245, 237, 255);
    opacity: 0.9;
    z-index: 1;
    animation: disappears 1s;
    animation-fill-mode: forwards;
}

@keyframes disappears {
    0% {
        opacity: 1;
        visibility: visible;
    }

    50% {
        opacity: 1;
        visibility: visible;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.loading-spinner {
    height: 6.25rem;
    width: 6.25rem;
    margin: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.loading-spinner .loading-animation {
    position: absolute;
    width: 180%;
    height: 180%;
    top: 0;
    border-radius: 50%;
}

.loading-spinner .loading-animation:nth-child(1) {
    border-bottom: 0.375rem solid $colour-primary ;
    transform: rotateX(35deg) rotateY(-45deg);
    animation: rotate-one 1s linear infinite;
}

.loading-spinner .loading-animation:nth-child(2) {
    border-right: 0.375rem solid $colour-secondary ;
    transform: rotateX(50deg) rotateY(10deg);
    animation: rotate-two 1s linear infinite;
}

.loading-spinner .loading-animation:nth-child(3) {
    border-top: 0.375rem solid $colour-tertiaire ;
    transform: rotateX(35deg) rotateY(55deg);
    animation: rotate-three 1s linear infinite;
}

@keyframes rotate-one {
    to {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}

@keyframes rotate-two {
    to {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}

@keyframes rotate-three {
    to {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}

/*header*/
.header {
    display: flex;
    align-items: center;
    height: 2rem;
    position: relative;
    justify-content: center;
    padding: 1.5rem 1rem 0.5rem;
    box-shadow: 0 0 0.5rem #00000033;

    &__logo img {
        height: 2rem;
    }
}

.search-city {
    display: flex;
    height: 4rem;
    align-items: center;
    justify-content: center;
    background: $colour-verylight-grey;

    &__icon {
        display: flex;
        gap: 1.2rem;
        align-items: center;
        font-weight: 900;
        color: $colour-dark-grey;

        &__address {
            color: $colour-dark-grey;

        }
    }
}

.exploration {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: $colour-light-grey;
    padding: 2rem 2rem 3rem;

    &__heading {
        margin: 0rem 2rem 0rem 2rem;
    }

    &__text {
        color: $colour-dark-grey;
        margin: 1.5rem 0;
        font-weight: 300;
    }

    &__btn {
        @include btn;
    }
}

    .functioning {
        display: flex;
        padding: 2rem 1rem 3rem;
        flex-direction: column;

        & h2 {
            width: 98%;
        }

        & ol {
            display: flex;
            flex-direction: column;
            list-style: none;
            gap: 1.5rem;
            padding: 0.9rem;
            margin: 0;
        }

        & li {
            background-color: $colour-light-grey;
            padding: 0.75rem 1.4rem;
            border-radius: 1rem;
            position: relative;
            @include box-shadow;

            & .numero {
                display: flex;
                height: 1.8rem;
                width: 1.8rem;
                top: 1.4rem;
                color: $colour-white;
                align-items: center;
                justify-content: center;
                position: absolute;
                left: -0.75rem;
                background: $colour-primary;
                border-radius: 100px;
            }

            & i {
                height: 2rem;
                color: #7e7e7e;
                padding: 1rem 1rem 0rem;
                left: 1rem;
            }
        }
    }

    li:hover {
        cursor: pointer;
        background-color: rgb(245, 237, 255);

        & i {
            color: $colour-primary;
        }
    }

    .restaurants-cards {
        display: flex;
        flex-direction: column;
        background: $colour-light-grey;
        padding: 2rem 1.5rem 3rem;

        & h2 {
            padding-bottom: 0.4rem;
            width: 100%;
        }
    }

    .restaurants-link {
        display: flex;
        flex-direction: column;
        padding-bottom: 1.3rem;
        position: relative;

        &__tag {
            position: absolute;
            background-color: $colour-very-lightgreen;
            color: $colour-green;
            right: 1.1rem;
            top: 1rem;
            font-weight: 500;
            border-radius: 0.2rem;
            padding: 0.5rem 1rem;
        }

        &__image {
            border-radius: 1rem;
            background-color: $colour-white;
            @include box-shadow;

            & img {
                height: 12.5rem;
                width: 100%;
                object-fit: cover;
                border-radius: 1rem 1rem 0 0;
            }
        }
    }

    .restaurants-description {
        display: flex;
        flex-direction: column;
        padding: 0.5rem 0.8rem;

        & h3,
        p {
            margin: 0rem;
        }

        & h3 {
            margin-bottom: 0.2rem;
        }

        & p {
            font-weight: 300;
        }

        &__btnheart{
            @include btnheart;
        }
    
   & .fa-heart{
    font-weight:lighter;
   }
}
    
    /* footer*/
    .bloc {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: $colour-dark-grey;
        padding: 1rem 1.5rem;

        &__heading {
            font-weight: 500;
            color: $colour-white;
            font-family: "Shrikhand", cursive;
            margin: 0;
            padding: 1rem 0rem 1.5rem;
        }

        & a {
            font-size: 1rem;
            font-weight: 400;
            margin: 0;
            padding: 0.3rem;

            & i {
                color: $colour-white;
                padding-right: 1rem;
            }
        }
    }

    .bloc__link {
        font-size: 1rem;
        font-weight: 400;
        color: $colour-white;
        margin: 0;
        padding: 0.3rem;
    }


    /*tablette*/
    @media screen and (min-width:768px) {
      
        .functioning {
            & ol {
                flex-direction: row;
            }
        }

        .functioning li {
            background-color: $colour-white ;
            width: 42%;
        }

        li:hover {
            transform: scale(0.9);
            background-color: rgb(245, 237, 255);
        }

        .restaurants-cards {
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-between;
            background-color: $colour-white ;
        }

        .restaurants-link {
            width: 49%;
        }
    }