@import"../utils/_variable.scss";
@import"../base/_base.scss";

/* footer*/
.bloc {
    display: flex;
    flex-direction: column;
    background: $colour-dark-grey;
    padding: 1rem 1.3rem;

    &__heading {
        font-weight: 500;
        color: $colour-white;
        margin: 0;
        padding: 1rem 0rem;
    }

    & p {
        font-size: 1rem;
        font-weight: 400;
        color: $colour-white;
        margin: 0;
        padding: 0.3rem;

        & i {
            color: $colour-white;
            padding-right:1rem;
        }
    }
}

.bloc__link{
    color:$colour-white;
}

/* la version tablette*/
