/* footer*/
.bloc {
    display: flex;
    flex-direction: column;
    background-color: #353535;
}

.bloc__heading {
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 500;
    font-family: "Shrikhand", cursive;
    color: #fff;
    margin: 0;
    padding: 1.2rem 1.2rem;
}

.bloc a {
    display: flex;
    font-size: 1.2rem;
    font-weight: 400;
    color: #fff;
    /*padding: 1.2rem;*/
}

.bloc i {
    color: #fff;
    align-items: center;
    justify-content: center;
}