
@import"../utils/_variable.scss";
@import"../base/_base.scss";
@import"../utils/_mixins";

.exploration {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: $colour-light-grey;
    padding: 2rem 1rem 3rem;

    &__heading {
        margin: 0rem 2rem 1rem 2rem;
    }

    &__text {
        padding-bottom: 2rem;
        color: $colour-dark-grey;
        margin: 0rem;
    }
    &__btn {
@include btn
    }
}