@import"../utils/_box-shaow.scss";
@import"../utils/_variable.scss";
@import"../base/_base.scss";
@import"../components/_button.scss";

.exploration{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $colour-light-grey;
    padding-bottom: 3.3rem;
    width:100%;

&__heading {
    padding: 2rem 2rem 1rem;
    margin: 0rem;
}
&__text {
    padding-bottom: 2rem;
    color:$colour-dark-grey;
    margin: 0rem;
}
}

