@import"../base/_base.scss";
@import"../utils/_variable.scss";

.functioning {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0rem;
    padding: 2rem 1rem;

    & h2 {
        width: 98%;
        padding: 1rem 1rem 1.9rem;
        margin: 0rem;
    }
}

ol {
    display: flex;
    width:97%;
    flex-direction: column;
    list-style-type: none;
    position: relative;
    margin:0rem 0rem 2rem;
    gap: 1.5rem;

    .numero {
        display: flex;
        height: 1.8rem;
        width: 1.8rem;
        color: $colour-white;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 1.2rem;
        background:$colour-primary;
        border-radius: 30px;
    }
}

li {
    background-color:$colour-grey;
    align-items: center;
    padding: 1.3rem;
    border-radius: 1.2rem;
    @include box-shadow;
    & i {
        height: 2rem;
        color: #7e7e7e;
        margin: 0.3rem 1.3rem 0rem;
    }
}

li:hover {
    /*transform: scale(0.9);*/
    cursor: pointer;
    background-color: #F5EDFF;

    & i {
        color: $colour-primary;
    }
}