@import"../base/_base.scss";
@import"../utils/_variable.scss";
@import"../utils/_mixins";

.functioning {
    padding: 2rem 1rem;
    flex-direction: column;

    & h2 {
        width: 98%;
        margin-top:0rem;
    }

    & ol {
        display: flex;
        flex-direction: column;
        list-style: none;
        gap: 1.5rem;
        padding: 0.9rem;
    }

    & li {
        background-color: $colour-grey;
        width: 98%;
        padding: 0.75rem 0.4rem;
        border-radius: 1rem;
        position: relative;
        @include box-shadow;

        & .numero {
            height: 1.8rem;
            width: 1.8rem;
            bottom: 1.2rem;
            color: $colour-white;
            text-align: center;
            justify-content: center;
            position: absolute;
            left: -0.75rem;
            background: $colour-primary;
            border-radius: 100px;
        }

        & i {
            height: 2rem;
            color: #7e7e7e;
            padding: 1rem 1.7rem 0rem;
        }
    }

}

li:hover {
    cursor: pointer;
    background-color: rgb(226, 149, 240);

    & i {
        color: $colour-primary;
    }
}

/*desktop*/
@media screen and (min-width:992px) {

    .functioning {
        & ol {
            flex-direction: row;
        }
    }

    li:hover {
        transform: scale(0.9);
        background-color: rgb(226, 149, 240);
    }
}

/*tablette*/
@media screen and (min-width:768px) {
    .functioning li {
        background-color: $colour-white ;
    }
    li:hover {
        transform: scale(0.9);
        background-color: rgb(226, 149, 240);
    }
}