.header {
    display: flex;
    align-items: center;
    height:1rem;
    margin: auto;
    position: relative;
    justify-content: center;
    padding:1rem;
    box-shadow: 0 0 0.5rem #00000033;
    &__logo img {
        height: 2.1rem;
        font-family: "Shrikhand", cursive;
}

}
