@import"../utils/_variable.scss";
@import"../utils/_mixins";

.restaurants-cards {
    display: flex;
    flex-direction: column;
    background: $colour-light-grey;
    border-radius: 1.18rem;
    padding: 3.9rem 1.2rem 3rem;

    & h2 {
        padding-bottom: 0.8rem;
        margin: 0;
        width: 100%;
    }
}

.restaurants-link {
    display: flex;
    flex-direction: column;
    padding-bottom: 1.2rem;
    position: relative;

    &__tag {
        position: absolute;
        background-color: $colour-very-lightgreen;
        color: $colour-green;
        right: 1.1rem;
        top: 1rem;
        font-size: 1.2rem;
        font-weight: 500;
        border-radius: 0.2rem;
        padding: 0.5rem 1rem;
    }

    &__image {
        height: 19.8rem;
        border-radius: 1rem;
        background-color: $colour-white;
        @include box-shadow;

        & img {
            height: 14.5rem;
            width: 100%;
            object-fit: cover;
            border-radius: 1rem 1rem 0 0;
        }
    }
}

.restaurants-description {
    /* display: flex;*/
    flex-direction: column;
    padding: 1rem;
    position: relative;

    &:hover {
        font-weight: 400;
    }

    & h3,
    p {
        margin: 0rem;
    }

    & h3 {
        margin-bottom: 0.2rem;
    }

    & p {
        font-weight: 300;
    }

    .fa-heart {
        font-weight: 400;
        @include icon;
    }
}


/*desktop*/
@media screen and (min-width:1027px) {
    .restaurants-cards {
        height: auto;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
    }

    .restaurants-link {
        width: 22%;
    }

}

/*tablette*/
@media screen and (min-width:769px) {
    .restaurants-cards {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        background-color: $colour-white ;
    }

    .restaurants-link {
        width: 49%;
    }
}