@import url("https://fonts.googleapis.com/css2? family= Roboto:wght@300;400;500;700 & family= Shrikhand & display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
:root {
  margin: 0;
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  background: #ffffff;
  font-family: "Roboto", sans-serif;
  margin: 0;
  width: auto;
}

h1 {
  font-family: "Shrikhand", cursive;
  font-weight: 800;
  font-size: 1.3rem;
}

h2 {
  font-size: 1.3rem;
  font-weight: 800;
}

h3 {
  font-size: 1.3rem;
  font-weight: 800;
}

p {
  font-size: 1.2rem;
  font-weight: 300;
}

a,
a:visited {
  text-decoration: none;
  color: #000;
}

main {
  width: auto;
  margin: auto;
}

.header {
  display: flex;
  align-items: center;
  height: 1rem;
  margin: auto;
  position: relative;
  justify-content: center;
  padding: 1rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
}
.header__logo img {
  height: 2.1rem;
  font-family: "Shrikhand", cursive;
}

.search-city {
  display: flex;
  height: 4rem;
  width: 100%;
  align-items: center;
  justify-content: center;
  background: #EAEAEA;
}
.search-city__icon {
  display: flex;
  gap: 2.2rem;
  align-items: center;
  font-weight: 900;
  color: #000000;
}
.search-city__icon__address {
  color: #000000;
}

.exploration {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f6f6f6;
  padding-bottom: 3.3rem;
  width: 100%;
}
.exploration__heading {
  padding: 2rem 2rem 1rem;
  margin: 0rem;
}
.exploration__text {
  padding-bottom: 2rem;
  color: #353535;
  margin: 0rem;
}
.exploration__btn {
  height: 4rem;
  color: #fff;
  font-weight: 500;
  font-size: 1.2rem;
  background-image: linear-gradient(#FF79DA, #9356DC);
  padding: 0rem 2rem;
  border: none;
  border-radius: 2rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 1.1s;
}
.exploration__btn:hover {
  transform: scale(1.1);
  color: #0065fc;
  opacity: 0.8;
}

.functioning {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0rem;
  padding: 2rem 1rem;
}
.functioning h2 {
  width: 98%;
  padding: 1rem 1rem 1.9rem;
  margin: 0rem;
}

ol {
  display: flex;
  width: 97%;
  flex-direction: column;
  list-style-type: none;
  position: relative;
  margin: 0rem 0rem 2rem;
  gap: 1.5rem;
}
ol .numero {
  display: flex;
  height: 1.8rem;
  width: 1.8rem;
  color: white;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 1.2rem;
  background-color: #9356DC;
  border-radius: 30px;
}

li {
  background-color: #f3f3f3;
  align-items: center;
  padding: 1.3rem;
  border-radius: 1.2rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
}
li i {
  height: 2rem;
  color: #7e7e7e;
  margin: 0.3rem 1.3rem 0rem;
}

li:hover {
  /*transform: scale(0.9);*/
  cursor: pointer;
  background-color: #F5EDFF;
}
li:hover i {
  color: #9356DC;
}

.menus {
  display: flex;
  flex-direction: column;
  background-color: #f6F6F6;
  border-radius: 1.18rem;
  padding: 1rem 1rem 3rem;
}
.menus h2 {
  width: 98%;
}

.menus-card {
  display: flex;
  flex-direction: column;
  height: 18rem;
  width: 100%;
  position: relative;
}
.menus-card__image {
  height: 17rem;
  border-radius: 1rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
}
.menus-card__image img {
  height: 11rem;
  width: 100%;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.menus-card__head {
  height: 2rem;
  padding-left: 1rem;
  margin-bottom: 0rem;
}

.menus-card__byline {
  font-size: 1.12rem;
  margin: 0;
  padding-left: 1rem;
}

.tag {
  height: 2rem;
  width: 6rem;
  position: absolute;
  background-color: #99e2d0;
  color: #008766;
  justify-content: center;
  align-items: center;
  right: 1rem;
  top: 1rem;
  border-radius: 0.2rem;
}

/* footer*/
.bloc {
  display: flex;
  flex-direction: column;
  background: #353535;
  padding: 1rem 1.3rem;
}
.bloc__heading {
  font-weight: 500;
  font-family: "Shrikhand", cursive;
  color: #fff;
  margin: 0;
  padding: 1rem 0rem;
}
.bloc p {
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
  margin: 0;
  padding: 0.3rem;
}
.bloc p i {
  color: #fff;
  padding-right: 1rem;
}

.bloc__link {
  color: #fff;
}

/*# sourceMappingURL=mobile.css.map */
