@import url("https://fonts.googleapis.com/css2? family= Roboto:wght@300;400;500;700 & family= Shrikhand & display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2? family= Roboto:wght@300;400;500;700 & family= Shrikhand & display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2? family= Roboto:wght@300;400;500;700 & family= Shrikhand & display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2? family= Roboto:wght@300;400;500;700 & family= Shrikhand & display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2? family= Roboto:wght@300;400;500;700 & family= Shrikhand & display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
:root {
  margin: 0;
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  background: #fff;
  font-family: "Roboto", sans-serif;
  margin: 0;
  width: auto;
}

h1 {
  font-family: "Shrikhand", cursive;
  font-weight: 900;
  font-size: 1.75rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

h3 {
  font-size: 1.4rem;
  font-weight: 600;
}

p, li {
  font-size: 1.3rem;
  font-weight: 500;
}

p {
  font-size: 1.3rem;
  font-weight: 500;
}

a,
a:visited {
  text-decoration: none;
  color: #000000;
  padding: 0;
  cursor: pointer;
}

main {
  width: auto;
  margin: auto;
}

.header {
  display: flex;
  align-items: center;
  height: 2rem;
  position: relative;
  justify-content: center;
  padding: 1rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
}
.header__logo img {
  display: flex;
  height: 2.1rem;
  font-family: "Shrikhand", cursive;
}

:root {
  margin: 0;
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  background: #fff;
  font-family: "Roboto", sans-serif;
  margin: 0;
  width: auto;
}

h1 {
  font-family: "Shrikhand", cursive;
  font-weight: 900;
  font-size: 1.75rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

h3 {
  font-size: 1.4rem;
  font-weight: 600;
}

p, li {
  font-size: 1.3rem;
  font-weight: 500;
}

p {
  font-size: 1.3rem;
  font-weight: 500;
}

a,
a:visited {
  text-decoration: none;
  color: #000000;
  padding: 0;
  cursor: pointer;
}

main {
  width: auto;
  margin: auto;
}

.search-city {
  display: flex;
  height: 4rem;
  width: 100%;
  align-items: center;
  justify-content: center;
  background: #EAEAEA;
}
.search-city__icon {
  display: flex;
  gap: 2.2rem;
  align-items: center;
  font-weight: 900;
  color: #353535;
}
.search-city__icon__address {
  color: #353535;
}

:root {
  margin: 0;
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  background: #fff;
  font-family: "Roboto", sans-serif;
  margin: 0;
  width: auto;
}

h1 {
  font-family: "Shrikhand", cursive;
  font-weight: 900;
  font-size: 1.75rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

h3 {
  font-size: 1.4rem;
  font-weight: 600;
}

p, li {
  font-size: 1.3rem;
  font-weight: 500;
}

p {
  font-size: 1.3rem;
  font-weight: 500;
}

a,
a:visited {
  text-decoration: none;
  color: #000000;
  padding: 0;
  cursor: pointer;
}

main {
  width: auto;
  margin: auto;
}

.btn {
  height: 3.2rem;
  color: #fff;
  font-weight: 500;
  font-size: 1.2rem;
  background-image: linear-gradient(#FF79DA, #9356DC);
  padding: 1rem 2rem;
  border: none;
  border-radius: 2rem;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1803921569);
  cursor: pointer;
  transition: all 1.1s;
}
.btn.btn:hover {
  transform: scale(1.1);
  color: #0065fc;
  opacity: 0.8;
}

.exploration {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f6f6f6;
  padding: 2rem 1rem 3rem;
}
.exploration__heading {
  margin: 0rem 2rem 1rem 2rem;
}
.exploration__text {
  padding-bottom: 2rem;
  color: #353535;
  margin: 0rem;
}

:root {
  margin: 0;
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  background: #fff;
  font-family: "Roboto", sans-serif;
  margin: 0;
  width: auto;
}

h1 {
  font-family: "Shrikhand", cursive;
  font-weight: 900;
  font-size: 1.75rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

h3 {
  font-size: 1.4rem;
  font-weight: 600;
}

p, li {
  font-size: 1.3rem;
  font-weight: 500;
}

p {
  font-size: 1.3rem;
  font-weight: 500;
}

a,
a:visited {
  text-decoration: none;
  color: #000000;
  padding: 0;
  cursor: pointer;
}

main {
  width: auto;
  margin: auto;
}

.functioning {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0rem;
  padding: 2rem 1rem;
}
.functioning h2 {
  width: 98%;
  padding: 1rem 1rem 1.9rem;
  margin: 0rem;
}

ol {
  display: flex;
  width: 97%;
  flex-direction: column;
  list-style-type: none;
  position: relative;
  margin: 0rem 0rem 2rem;
  gap: 1.5rem;
}
ol .numero {
  display: flex;
  height: 1.8rem;
  width: 1.8rem;
  color: #fff;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 1.5rem;
  background: #9356DC;
  border-radius: 30px;
}

li {
  background-color: #f3f3f3;
  align-items: center;
  padding: 1.3rem;
  border-radius: 1.2rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
}
li i {
  height: 2rem;
  color: #7e7e7e;
  margin: 0.3rem 1.3rem 0rem;
}

li:hover {
  /*transform: scale(0.9);*/
  cursor: pointer;
  background-color: #F5EDFF;
}
li:hover i {
  color: #9356DC;
}

.restaurants-cards {
  flex-direction: column;
  background: #f6f6f6;
  border-radius: 1.18rem;
  padding: 1rem 1.6rem 3rem;
}
.restaurants-cards h2 {
  margin-top: 3rem;
}
.restaurants-cards__tag {
  position: absolute;
  background-color: #99e2d0;
  color: #008766;
  right: 1.9rem;
  top: 2rem;
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 0.2rem;
  padding: 0.5rem 1rem;
}
.restaurants-cards__image {
  height: 19.8rem;
  border-radius: 1rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
}
.restaurants-cards__image img {
  height: 14.5rem;
  width: 100%;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}
.restaurants-cards .restaurants-cards__set {
  width: 50%;
  padding: 0.8rem;
  position: relative;
}
.restaurants-cards__information h3,
.restaurants-cards p {
  margin: 0rem;
  padding: 1rem 1rem 0rem;
}
.restaurants-cards h3 {
  margin-bottom: 0.2rem;
}
.restaurants-cards p {
  font-weight: 300;
  padding-top: 0;
}

.restaurants-cards__set__information-icon {
  display: flex;
  width: 2rem;
  height: 2rem;
  right: 3.5rem;
  top: 16.6rem;
  font-size: 2rem;
  position: absolute;
  align-items: center;
  /*opacity: 0.2;*/
  background-image: #fff;
}
.restaurants-cards__set__information-icon:hover {
  background-image: linear-gradient(#FF79DA, #9356DC);
}

/* version tablette*/
@media screen and (min-width: 992px) {
  .restaurants-cards {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .restaurants-cards h2 {
    width: 100%;
  }
  .restaurants-cards__image {
    flex-direction: row;
    flex-wrap: wrap;
    width: 40%;
    margin: 0;
  }
}
:root {
  margin: 0;
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  background: #fff;
  font-family: "Roboto", sans-serif;
  margin: 0;
  width: auto;
}

h1 {
  font-family: "Shrikhand", cursive;
  font-weight: 900;
  font-size: 1.75rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

h3 {
  font-size: 1.4rem;
  font-weight: 600;
}

p, li {
  font-size: 1.3rem;
  font-weight: 500;
}

p {
  font-size: 1.3rem;
  font-weight: 500;
}

a,
a:visited {
  text-decoration: none;
  color: #000000;
  padding: 0;
  cursor: pointer;
}

main {
  width: auto;
  margin: auto;
}

/* footer*/
.bloc {
  display: flex;
  flex-direction: column;
  background: #353535;
  padding: 1rem 1.3rem;
}
.bloc__heading {
  font-weight: 500;
  color: #fff;
  margin: 0;
  padding: 1rem 0rem;
}
.bloc p {
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
  margin: 0;
  padding: 0.3rem;
}
.bloc p i {
  color: #fff;
  padding-right: 1rem;
}

.bloc__link {
  color: #fff;
}

/* la version tablette*/

/*# sourceMappingURL=mobile.css.map */
