@import url("https://fonts.googleapis.com/css2? family= Roboto:wght@300;400;500;700 & family= Shrikhand & display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2? family= Roboto:wght@300;400;500;700 & family= Shrikhand & display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");


:root {
  margin: 0;
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  background: #fff;
  font-family: "Roboto", sans-serif;
  margin: 0;
  width: auto;
}

h1 {
  font-family: "Shrikhand", cursive;
  font-weight: 900;
  font-size: 1.75rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 800;
}

h3 {
  font-size: 1.3rem;
  font-weight: 500;
}

p {
  font-size: 1.2rem;
  font-weight: 300;
}

a,
a:visited {
  text-decoration: none;
  color: #000000;
  /*color:$colour-white;*/
}

main {
  width: auto;
  margin: auto;
}

.header {
  display: flex;
  align-items: center;
  height: 2rem;
  position: relative;
  justify-content: center;
  padding: 1rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
}
.header__logo img {
  display: flex;
  height: 2.1rem;
  font-family: "Shrikhand", cursive;
}

.fa-arrow-left {
  display: flex;
  left: 1.4rem;
  justify-content: center;
  align-items: center;
  bottom: 1.7rem;
  position: absolute;
}

.background__image {
  display: flex;
  height: 22rem;
}
.background__image img {
  flex-direction: row;
  width: 100%;
  object-fit: cover;
}

.menus {
  padding: 1.5rem 0.5rem;
  border-radius: 3rem 3rem 0 0;
  background: #f6f6f6;
  margin-top: -2rem;
  position: relative;
}

.menus__title {
  display: flex;
  font-size: 1.75rem;
  justify-content: space-between;
}

.menus-meal__entries {
  display: flex;
  flex-direction: column;
}
.menus-meal__entries__title {
  font-weight: 100;
  position: relative;
  text-transform: uppercase;
}

.menus-meal__entries__varied {
  display: flex;
  flex-direction: column;
  position: relative;
}

.menus-meal__entries__choice {
  height: 4.2rem;
  align-items: center;
  padding: 0.7rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
}

.menus-meal__entries__names {
  flex-direction: column;
  margin: 0;
}
.menus-meal__entries__names__notch {
  display: flex;
  justify-content: center;
  width: 5rem;
  /*height: 5rem;*/
  margin-right: -5rem;
  background: #99E2D0;
}
.menus-meal__entries__names__notchfa-circle-check {
  color: #fff;
  font-size: 2rem;
}

.menus-meal__entries__names__price {
  justify-content: center;
  margin-left: 33rem;
  font-weight: 600;
  height: 3rem;
}

h3,
p {
  margin: 0;
  align-items: center;
  padding: 0.3rem;
}

p {
  padding: 0 0.3rem;
}

.menus-meal__dish {
  display: flex;
  flex-direction: column;
}
.menus-meal__dish__title {
  font-weight: 100;
  position: relative;
  text-transform: uppercase;
}

.menus-meal__dish__varied {
  display: flex;
  flex-direction: column;
  position: relative;
}

.menus-meal__dish__choice {
  height: 4.2rem;
  align-items: center;
  padding: 0.7rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
}

.menus-meal__dish__names {
  flex-direction: column;
  margin: 0;
}
.menus-meal__dish__names__notch {
  display: flex;
  justify-content: center;
  width: 5rem;
  /*height: 5rem;*/
  margin-right: -5rem;
  background: #99E2D0;
}
.menus-meal__dish__names__notchfa-circle-check {
  color: #fff;
  font-size: 2rem;
}

.menus-meal__dish__names__price {
  justify-content: center;
  margin-left: 33rem;
  font-weight: 600;
  height: 3rem;
}

.menus-meal__desserts {
  display: flex;
  flex-direction: column;
}
.menus-meal__desserts__title {
  font-weight: 100;
  position: relative;
  text-transform: uppercase;
}

.menus-meal__desserts__varied {
  display: flex;
  flex-direction: column;
  position: relative;
}

.menus-meal__desserts__choice {
  height: 4.2rem;
  align-items: center;
  padding: 0.7rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
}

.menus-meal__desserts__names {
  flex-direction: column;
  margin: 0;
}
.menus-meal__desserts__names__notch {
  display: flex;
  justify-content: center;
  width: 5rem;
  /*height: 5rem;*/
  margin-right: -5rem;
  background: #99E2D0;
}
.menus-meal__desserts__names__notchfa-circle-check {
  color: #fff;
  font-size: 2rem;
}

.menus-meal__desserts__names__price {
  justify-content: center;
  margin-left: 33rem;
  font-weight: 600;
  height: 3rem;
}

/* footer*/
.bloc {
  display: flex;
  flex-direction: column;
  background: #353535;
  padding: 1rem 1.3rem;
}
.bloc__heading {
  font-weight: 500;
  color: #fff;
  margin: 0;
  padding: 1rem 0rem;
}
.bloc p {
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
  margin: 0;
  padding: 0.3rem;
}
.bloc p i {
  color: #fff;
  padding-right: 1rem;
}

 a{
  color: #fff;
}



/*# sourceMappingURL=style.css.map */
