@import url('https://fonts.googleapis.com/css2? family= Roboto:wght@300;400;500;700 & family= Shrikhand & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import"../utils/_variable.scss";

:root {
    margin: 0;
    box-sizing: border-box;
}

body {
    box-sizing: border-box;
    background: $colour-white;
    font-family: "Roboto", sans-serif;
    margin: 0;
    width: auto;
}

h1 {
    font-family: "Shrikhand", cursive;
    font-weight: 900;
    font-size: 1.75rem;
}

h2 {
    font-size: 1.5rem;
    font-weight: 600;
}

h3 {
    font-size: 1.4rem;
    font-weight: 600;
}

p,
li {
    font-size: 1.3rem;
    font-weight: 500;
}

p {
    font-size: 1.3rem;
    font-weight: 300;
}

a,
a :visited {
    text-decoration: none;
    color: $colour-black;
    padding: 0;
    cursor: pointer;
}

.link {
    text-decoration: none;
}

main {
    width: auto;
    margin: auto;
}