@import url('https://fonts.googleapis.com/css2? family= Roboto:wght@300;400;500;700 & family= Shrikhand & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

:root {
    margin: 0;
    box-sizing: border-box;
}

body {
    box-sizing: border-box;
    background: #ffffff;
    font-family: "Roboto", sans-serif;
    margin: 0;
    width: auto;
}

h1 {
    font-family: "Shrikhand", cursive;
    font-weight: 800;
    font-size: 1.3rem;
}

h2 {
    font-size: 1.3rem;
    font-weight: 800;
}

h3 {
    font-size: 1.3rem;
    font-weight: 800;
}

p{
    font-size:1.2rem ;
    font-weight: 300;
}

a,
a:visited {
    text-decoration: none;
    color: #000
}

main {
    width: auto;
    margin: auto;
}