@import"../base/base";
@import"../layout/header";
@import"../layout/_bloc";
@import"../utils/mixins";
@import"../utils/_variable";
@import"../components/_button";


body {
  margin: 0;
}

.fa-arrow-left {
  display: flex;
  top: 1.4rem;
  left: 1rem;
  bottom: 1rem;
  justify-content: center;
  position: absolute;
}

.background__image {
  display: flex;
  height: 22rem;

  & img {
    flex-direction: row;
    width: 100%;
    object-fit: cover;
  }
}

.menus {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 1.3rem 3rem;
  border-radius: 3rem 3rem 0 0;
  font-size: 1.7rem;
  background: $colour-light-grey;
  margin-top: -2rem;
  position: relative;
  &__btn {
    margin: 1rem 27rem;
    justify-content: center;
    @include btn;
    
  }
}

.menus__title{
  justify-content: center;
  align-items: center;
  &__icon{
    height: 2rem;
    right: 1rem;
    top: 4rem;
    font-size: 2rem;
    font-weight: 400;
    position: absolute;
  
    &:hover {
        font-weight: 900;
        background: -webkit-linear-gradient($colour-secondary, $colour-primary);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: 3s;
    }
  }
}

.menus-meal__entries {
  flex-direction: column;

  &__title {
    font-weight: 100;
    height: 0.5rem;
    width: 3rem;
    position:relative;
    text-transform: uppercase;
    bottom: 1rem;
    background-color:$colour-tertiaire;
  }
}

.menus-meal__entries__varied {
  flex-direction: column;
  position: relative;
}

.menus-meal__entries__choice {
  height: 4.2rem;
  align-items: center;
  @include padding;
  margin-bottom: 1rem;
  border-radius: 1rem;
  @include box-shadow;
}

.menus-meal__entries__names {
  flex-direction: column;
  margin: 0;
  overflow: hidden;

  &__notch {
    justify-content: center;
    width: 5rem;
    margin-right: 5rem;
    background: $colour-tertiaire;

    & fa-circle-check {
      color: $colour-white ;
      font-size: 2rem;
    }
  }
}

h3,
p {
  margin: 0;
  align-items: center;
  padding: 0.3rem;
}

p {
  padding: 0 0.3rem;
}

.menus-meal__entries__names__price {
  right: 3rem;
  font-weight: 600;
  height: 3rem;
  position: absolute;
}


.menus-meal__dish {
  display: flex;
  flex-direction: column;

  &__title {
    font-weight: 100;
    height: 0.5rem;
    width: 3rem;
    position:relative;
    text-transform: uppercase;
    bottom: 1rem;
    background-color:$colour-tertiaire;
  }
}

.menus-meal__dish__varied {
  display: flex;
  flex-direction: column;
  position: relative;
}

.menus-meal__dish__choice {
  height: 4.2rem;
  align-items: center;
  @include padding;
  margin-bottom: 1rem;
  border-radius: 1rem;
 @include box-shadow;
}

.menus-meal__dish__names {
  flex-direction: column;
  margin: 0;

  &__notch {
    display: flex;
    justify-content: center;
    width: 5rem;
    margin-right: -5rem;
    background: $colour-tertiaire;

    &fa-circle-check {
      color: $colour-white ;
      font-size: 2rem;
    }
  }
}

.menus-meal__dish__names__price {
  right: 3rem;
  font-weight: 600;
  height: 3rem;
  position: absolute;
}

.menus-meal__desserts {
  display: flex;
  flex-direction: column;

  &__title {
    font-weight: 100;
    height: 0.5rem;
    width: 3rem;
    position:relative;
    text-transform: uppercase;
    bottom: 1rem;
    background-color:$colour-tertiaire;
  }
}

.menus-meal__desserts__varied {
  display: flex;
  flex-direction: column;
  position: relative;
}

.menus-meal__desserts__choice {
  height: 4.2rem;
  align-items: center;
  @include padding;
  margin-bottom: 1rem;
  border-radius: 1rem;
  @include box-shadow;
}

.menus-meal__desserts__names {
  flex-direction: column;
  margin: 0;

  &__notch {
    display: flex;
    justify-content: center;
    width: 5rem;
    margin-right: -5rem;
    background: $colour-tertiaire;

    &fa-circle-check {
      color: $colour-white ;
      font-size: 2rem;
    }
  }
}

.menus-meal__desserts__names__price {
  right: 3rem;
  font-weight: 600;
  height: 3rem;
  position: absolute;
}

.bloc__link {
  color: $colour-white;
}

/*desktop*/
