@import"../base/base";
@import"../layout/header";
@import"../layout/_bloc";
@import"../utils/mixins";
@import"../utils/_variable";


.fa-arrow-left {
  display: flex;
  font-size: 1.2rem;
  top: 1.4rem;
  left: 2rem;
  bottom: 1rem;
  justify-content: center;
  position: absolute;
}

.background__image {
  display: flex;

  & img {
    max-height: 32rem;
    max-width: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.menus {
  justify-content: center;
  border-radius: 3rem 3rem 0 0;
  background: $colour-light-grey;
  margin-top: -4rem;
  position: relative;
}

.menus-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 2rem 0rem;

  &__btnheart{
    @include btnheart;
  }

  & .fa-heart {
    font-weight: lighter;
  }
}

.menus-meal {
  display: flex;
  flex-direction: column;
  padding-left: 4%;
  padding-right: 4%;
}

.menu__entries {
  display: flex;
  flex-wrap: wrap;
  padding: 1.15rem 0;
}

.menu__title {
  font-weight: 100;
  text-transform: uppercase;
  position: relative;

  &:after {
    content: "";
    width: 3.5rem;
    height: 0.25rem;
    top: 1.813rem;
    left: 0;
    position: absolute;
    background-color: $colour-tertiaire;
  }
}

.speciality__appearance {
  animation: appearance 2s;
  animation-fill-mode: both;

  @for $i from 1 through 10 {
    &:nth-child(#{$i}) {
      animation-delay: 100ms *$i;
    }
  }

  @keyframes appearance {
    0% {
      transform: translateY(50%);
      opacity: 0;
    }

    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

.speciality {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin: 0.413rem 0.938rem;
  background-color: $colour-white;
  margin-top: 0.75rem;
  border-radius: 1.3rem;
  @include box-shadow;
  overflow: hidden;

  &:hover .notch {
    transition: 300ms;
    animation: both;
    cursor: pointer;
    margin-right: 0rem;
  }

  &:hover .fa-circle-check {
    transform: rotate(360deg);
    transition-duration: 0.9s;
  }
}

.speciality__names {
  align-self: center;
  padding: 0.413rem 0.938rem;
  overflow: hidden;

  h3,
  p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0;
    align-items: center;
  }
}

.speciality__price {
  display: flex;
  gap: 0.938rem;

  .notch {
    display: flex;
    background: $colour-tertiaire;
    padding: 0 1.265rem;
    height: 4.385rem;
    align-items:center;
    margin-right: -4.063rem;
    border-radius: 0 1.3rem 1.3rem 0;
    transition-duration: 0.9s;
  }

  & .fa-circle-check {
    color: white;
    align-items: center;
    font-size: 1.5rem;
  }

  & p {
    align-items: center;
    padding-top: 2.3rem;
    padding-right: 0.313rem;
    font-weight: 500;
    margin: 0;
  }
}

.menu__dish {
  display: flex;
  flex-wrap: wrap;
  padding: 1.15rem 0;
}

.menu__desserts {
  display: flex;
  flex-wrap: wrap;
  padding: 1.15rem 0;
}

.commander {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.875rem 0 6rem;

  &__btn {
    display: flex;
    @include btn;
  }
}

.bloc__link {
  color: $colour-white
}


/*desktop*/
@media screen and (min-width:1024px) {
  .menus {
    margin-left: 4rem;
    margin-right: 4rem;
  }

  .menus-meal {
    flex-direction: row;
    justify-content: space-between;
  }

  .menu__entries {
    width: 30%;
  }

  .menu__dish {
    width: 30%;
  }

  .menu__desserts {
    width: 30%;
  }
}