@import"../base/base";
@import"../layout/header";
@import"../layout/_bloc";
@import"../utils/mixins";
@import"../utils/_variable";

body {
  min-width: 20rem;
}

.fa-arrow-left {
  display: flex;
  top: 1.4rem;
  left: 2rem;
  bottom: 1rem;
  justify-content: center;
  position: absolute;
}

.background__image {
  display: flex;

  & img {
    max-height: 32rem;
    max-width: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.menus {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 3rem 3rem 0 0;
  padding: 0rem 0rem 5rem;
  background: $colour-light-grey;
  margin-top: -4rem;
  position: relative;
}

.menus-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 2rem 0rem;

  & .fa-heart {
    @include icon;
  }
}

.menus-meal {
  display: flex;
  flex-direction: column;
  width: auto;
}

.menu__entries {
  flex-direction: column;
  width: 100%;
  padding: 0rem 1rem;
}

.menu__title {
  font-weight: 100;
  position: relative;
  text-transform: uppercase;
  padding-bottom: 0.5rem;

  &:after {
    content: "";
    width: 3.5rem;
    height: 0.25rem;
    bottom: -1.2rem;
    margin: 1rem 0;
    left: 0;
    position: absolute;
    background-color: $colour-tertiaire;
  }
}

.speciality__appearance{
  animation: appearance 2s;
  animation-fill-mode: both;
  @for $i from 1 through 10 {
    &:nth-child(#{$i}) {
      animation-delay: 100ms *$i;
    }
  }

  @keyframes appearance {
    0% {
      transform:translateY(50%) ;
      opacity: 0;
    }

    100% {
      transform:translateY(0) ;
      opacity: 1;
    }
  }
}

.speciality__choice {
  align-items: center;
  padding: 0rem 1rem 1rem;
  background-color: $colour-white;
  margin: 1rem 0rem 1.3rem;
  border-radius: 1.3rem;
  position: relative;
  @include box-shadow;
  overflow: hidden;

  &:hover .speciality__price {
    transition: 300ms ease-in-out;
    animation: both;
    margin-right: 4rem;
  }

  &:hover .speciality__notch {
    transition: 300ms ease-in-out;
    animation: both;
    cursor: pointer;
    margin-right: 3.4rem;
  }

  &:hover .fa-circle-check {
    transform: rotate(360deg);
    transition-duration: 0.9s;
  }
}

.speciality__notch {
  width: 4rem;
  top: 0rem;
  right: -3.5rem;
  margin: 0rem -1rem 0rem 1rem;
  align-items: center;
  border-radius: 0 1.3rem 1.3rem 0;
  background: $colour-tertiaire;
  position: absolute;
  transition-duration: 0.5s;

  & .fa-circle-check {
    display: flex;
    height: 5.1rem;
    color: white;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
  }
}

.speciality__names {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  h3,
  p {

    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0;
    align-items: center;
  }
}

.speciality__price {
  display: flex;
  top: 2.8rem;
  justify-content: flex-end;
  align-items: flex-end;
  padding-left:0.5rem ;
  font-weight: 500;
  position: relative;
}

.menu__dish {
  flex-direction: column;
  width: 100%;
  padding: 0rem 1rem;
}

.menu__desserts {
  flex-direction: column;
  width: 100%;
  padding: 0rem 1rem;
  padding-bottom: 3rem;
}

.commander {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__btn {
    display: flex;
    @include btn;
  }
}

.bloc__link {
  color: $colour-white;
}

/*desktop*/
@media screen and (min-width:1024px) {
 
  .menus-meal {
    flex-direction: row;
    justify-content: center;
  }
}