@import"../base/base";
@import"../layout/header";
@import"../layout/_bloc";
@import"../utils/mixins";
@import"../utils/_variable";


body {
  margin: 0;
}

.fa-arrow-left {
  display: flex;
  top: 1.4rem;
  left: 1rem;
  bottom: 1rem;
  justify-content: center;
  position: absolute;
}

.background__image {
  display: flex;

  & img {
    max-height: 100%;
    max-width: 100%;
    height: 32rem;
    width: 100%;
    object-fit: cover;
  }
}

.menus {
padding: 1.5rem 1.3rem 3rem;
  border-radius: 2rem 2rem 0 0;
  font-size: 1.7rem;
  background: $colour-light-grey;
  margin-top: -2rem;
  position: relative;

  &__btn {
    @include btn;
    padding: 1rem 5rem;
    justify-content: center;
    align-items: center;
    margin: 1rem 25.7rem;
  }
}
.menus__container{
display: flex;
align-items:center ;
justify-content: space-between;
padding: 1rem 2rem 0rem 1rem;
}
.menus-title {
  display: flex;
  &__heart{
    justify-content: center;
    align-items: center;
    position:relative;
    @include icon;
  }
}

.menus-meal__entries {
  flex-direction: column;
  width: 100%;

  &__title {
    font-weight: 100;
    height: 0.5rem;
    position: relative;
    text-transform: uppercase;
    padding-bottom: 0.5rem;
  }
  &__title:after{
    content:"";
    width:3rem;
    height:0.4rem;
    bottom: -1.2rem;
    left: 0;
    position: absolute;
    background-color: $colour-tertiaire;
  }
}

.menus-meal__loading{
  /*transform: scale(0);*/
  transition: 300ms ease-in-out;
  animation: both;
  cursor: pointer;
}

.menus-meal__choice {
  align-items: center;
  padding: 1rem;
  margin:1rem 0rem 1.3rem;
  border-radius: 0.75rem;
  background-color: $colour-white;
  @include box-shadow;
  overflow: hidden;

}

.menus-meal__notch{
  display: flex;
  width:4rem;
  right: 1rem;
  align-items: center;
  justify-content: center;
  margin-right: -1rem;
  background: $colour-tertiaire;
 position: absolute;
 transition-duration:0.7s ;
  & i {
    color: white;
    font-size:1.6rem;
    transform: rotate(180deg);
    transition-duration: 0.7s;
  }
}

.menus-meal__names {
  display: flex;
  flex-direction: column;

  & h3,
  p {
    margin: 0;
    align-items: center;
  }
}

.menus-meal__price {
  right: 7rem;
  font-weight: 500;
  position: absolute;
}

.menus-meal__dish {
  flex-direction: column;
  width: 100%;

  &__title {
    font-weight: 100;
    height: 0.5rem;
    position: relative;
    text-transform: uppercase;
    padding-bottom: 0.5rem;
  }
  &__title:after{
    content:"";
    width:3rem;
    height:0.4rem;
    bottom: -1.2rem;
    left: 0;
    position: absolute;
    background-color: $colour-tertiaire;
  }
}

.menus-meal__loading {
   /*transform: scale(0);*/
   transition: 300ms ease-in-out;
   animation: both;
   cursor: pointer;
  }

.menus-meal__choice {
  align-items: center;
  padding: 1rem;
  margin:1rem 0rem 1.3rem ;
  border-radius: 0.75rem;
  background-color: $colour-white;
  @include box-shadow;
  overflow: hidden;
}

.menus-meal__notch{
  display: flex;
  align-items: center;
  justify-content: center;
  width:4rem;
  right: 1rem;
  background: $colour-tertiaire;
 position: absolute;
 transition-duration:0.7s ;
  & i {
    color: white;
    font-size:1.6rem;
    transform: rotate(180deg);
    transition-duration: 0.7s;
  }
}
.menus-meal__names {
  display: flex;
  flex-direction: column;

  & h3,
  p {
    margin: 0;
    align-items: center;
  }
}

.menus-meal__price {
  right: 7rem;
  font-weight: 500;
  position: absolute;
}

.menus-meal__desserts {
  flex-direction: column;
  width: 100%;
  &__title {
    font-weight: 100;
    height: 0.5rem;
    position: relative;
    text-transform: uppercase;
    padding-bottom: 0.5rem;
  }
  &__title:after{
    content:"";
    width:3rem;
    height:0.4rem;
    bottom: -1.2rem;
    left: 0;
    position: absolute;
    background-color: $colour-tertiaire;

  }
}

.menus-meal__loading{
   /*transform: scale(0);*/
   transition: 300ms ease-in-out;
   animation: both;
   cursor: pointer;
}

.menus-meal__choice {
  align-items: center;
  margin:1rem 0rem 1.3rem;
  border-radius: 0.75rem;
  background-color: $colour-white;
  @include box-shadow;
  overflow: hidden;
}

.menus-meal__notch{
  display: flex;
  align-items: center;
  justify-content: center;
  width:4rem;
  right: 1rem;
  background: $colour-tertiaire;
 position: absolute;
 transition-duration:0.7s ;
  & i {
    color: white;
    font-size:1.6rem;
    transform: rotate(180deg);
    transition-duration: 0.7s;
  }
}

.menus-meal__names {
  display: flex;
  flex-direction: column;

  & h3,
  p {
    margin: 0;
    align-items: center;;
  }
}

.menus-meal__price {
  right: 7rem;
  font-weight: 500;
  position: absolute;
}

.bloc__link {
  color: $colour-white;
}