@import"../base/base";
@import"../layout/header";
@import"../layout/_bloc";
@import"../utils/mixins";
@import"../utils/_variable";


body {
  margin: 0;
}

.fa-arrow-left {
  display: flex;
  top: 1.4rem;
  left: 1rem;
  bottom: 1rem;
  justify-content: center;
  position: absolute;
}

.background__image {
  display: flex;
  height: 22rem;

  & img {
    flex-direction: row;
    width: 100%;
    object-fit: cover;
  }
}

.menus {
  padding: 1.5rem 1.3rem 3rem;
  border-radius: 3rem 3rem 0 0;
  font-size: 1.7rem;
  background: $colour-light-grey;
  margin-top: -2rem;
  position: relative;

  &__btn {
    @include btn;
    padding: 1rem 5rem;
    justify-content: center;
    align-items: center;
    margin: 1rem 20rem;
  }
}

.menus-title {
  display: flex;
  flex-direction: column;

  &__icon {
    justify-content: center;
    align-items: center;
    @include icon;
  }
}

.menus-meal__entries {
  flex-direction: column;

  &__title {
    font-weight: 100;
    height: 0.5rem;
    width: 3rem;
    position: relative;
    text-transform: uppercase;
    bottom: 1rem;
    background-color: $colour-tertiaire;
  }
}

.menus-meal__entries__varied {
  flex-direction: column;
  margin-bottom: 1rem;
}

.menus-meal__entries__choice {
  height: 5.4rem;
  width: 99%;
  align-items: center;
  padding: 0rem 0.3rem;
  overflow: hidden;
  margin-bottom: 1.3rem;
  border-radius: 1.3rem;
  @include box-shadow;

  &__notch {
    height: 2.2rem;
    right: 1rem;
    padding: 1.6rem;
    border-radius: 0 1.3rem 1.3rem 0;
    background: $colour-tertiaire;
    position: absolute;

    &:hover {
      transition: 300ms ease-in-out;
      animation-delay: 5s;
      animation: both;
      cursor: pointer;
    }

    & i {
      color: white;
      font-size: 2rem;
    }
  }
}

.menus-meal__entries__names {
  display: flex;
  flex-direction: column;

  & h3,
  p {
    margin: 0;
    align-items: center;
    flex-direction: column;
    padding: 0.7rem 0.8rem 0.1rem;
  }

  & p {
    padding-top: 0.3rem;
  }
}

.menus-meal__entries__names__price {
  right: 7rem;
  font-weight: 500;
  height: 3rem;
  position: absolute;
}

.menus-meal__dish {
  display: flex;
  flex-direction: column;

  &__title {
    font-weight: 100;
    height: 0.5rem;
    width: 3rem;
    position: relative;
    text-transform: uppercase;
    bottom: 1rem;
    background-color: $colour-tertiaire;
  }
}

.menus-meal__dish__varied {
  display: flex;
  flex-direction: column;
}

.menus-meal__dish__choice {
  display: flex;
  height: 5.4rem;
  width: 99%;
  align-items: center;
  overflow: hidden;
  margin-bottom: 1.3rem;
  border-radius: 1.3rem;
  @include box-shadow;

  &__notch {
    justify-content: center;
    height: 2.2rem;
    right: 1rem;
    padding: 1.6rem;
    border-radius: 0 1.3rem 1.3rem 0;
    background: $colour-tertiaire;
    position: absolute;

    & i {
      color: white;
      font-size: 2rem;
    }
  }
}

.menus-meal__dish__names {
  display: flex;
  flex-direction: column;

  & h3,
  p {
    margin: 0;
    align-items: center;
    flex-direction: column;
    padding: 0.7rem 0.8rem 0.1rem;
  }

  & p {
    padding-top: 0.3rem;
  }
}

.menus-meal__dish__names__price {
  right: 7rem;
  font-weight: 500;
  height: 3rem;
  position: absolute;
}

.menus-meal__desserts {
  display: flex;
  flex-direction: column;

  &__title {
    font-weight: 100;
    height: 0.5rem;
    width: 3rem;
    position: relative;
    text-transform: uppercase;
    bottom: 1rem;
    background-color: $colour-tertiaire;
  }
}

.menus-meal__desserts__varied {
  display: flex;
  flex-direction: column;
}

.menus-meal__desserts__choice {
  height: 5.4rem;
  width: 99%;
  align-items: center;
  overflow: hidden;
  margin-bottom: 1.3rem;
  border-radius: 1.3rem;
  @include box-shadow;

  &__notch {
    display: flex;
    justify-content: center;
    height: 2.2rem;
    right: 1rem;
    padding: 1.6rem;
    border-radius: 0 1.3rem 1.2rem 0;
    background: $colour-tertiaire;
    position: absolute;

    & i {
      color: white;
      font-size: 2rem;
    }
  }
}

.menus-meal__desserts__names {
  display: flex;
  flex-direction: column;

  & h3,
  p {
    margin: 0;
    align-items: center;
    flex-direction: column;
    padding: 0.7rem 0.8rem 0.1rem;
  }

  & p {
    padding-top: 0.3rem;
  }
}

.menus-meal__desserts__names__price {
  right: 7rem;
  font-weight: 500;
  height: 3rem;
  position: absolute;
}

.bloc__link {
  color: $colour-white;
}