@import"../base/base";
@import"../layout/header";
@import"../layout/_bloc";
@import"../utils/mixins";
@import"../utils/_variable";


.fa-arrow-left {
  display: flex;
  top: 1.4rem;
  left: 2rem;
  bottom: 1rem;
  justify-content: center;
  position: absolute;
}

.background__image {
  display: flex;

  & img {
    max-height: 100%;
    max-width: 100%;
    height: 32rem;
    width: 100%;
    object-fit: cover;
  }
}

.menus {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 1.3rem 5rem;
  border-radius: 3rem 3rem 0 0;
  background: $colour-light-grey;
  margin-top: -2rem;
  align-items: center;
  position: relative;

  &__btn {
    @include btn;
  }
}

.menus-container {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0rem 2rem 0rem;

  & .fa-heart {
    top: 3rem;
    @include icon;
  }
}

.menus-meal {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.menus-meal__entries {
  flex-direction: column;
  width: 100%; 
    @for $i from 1 through 3{
  .entries#{($i)}{
    animation-delay:100ms*$i;
  }
}

@keyframes loading{
  0%{transform: translateY(30%);
      opacity:0;
    }
   
100%{transform: translateY(0);
  opacity:1;  
  }
}
 
  &__title {
    font-weight: 100;
   position: relative;
    text-transform: uppercase;
    padding-bottom: 0.5rem;
  }

  &__title:after {
    content: "";
    width: 3.5rem;
    height: 0.25rem;
    bottom: -1.2rem;
    margin: 1rem 0;
    left: 0;
    position: absolute;
    background-color: $colour-tertiaire;
  }
}

.menus-meal__loading {
  transition: 300ms ease-in-out;
  animation: both;
  cursor: pointer;
  &:hover .menus-meal__notch{
    margin-right:5rem;
  }
}

.menus-meal__choice {
  align-items: center;
  padding: 1rem;
  margin: 1rem 0rem 1.3rem;
  border-radius: 1.3rem;
  position: relative;
  background-color: $colour-white;
  @include box-shadow;
  overflow: hidden; 
}

.menus-meal__notch {
  height: 5.25rem;
  width:4.8rem;
  top: 0rem;
  right: -5.99rem;
  align-items: center;
  border-radius: 0 1.3rem 1.3rem 0;
  background: $colour-tertiaire;
  position: absolute;
  transition-duration: 0.5s;
  
  & .fa-circle-check {
    display: flex;
    height: 5rem;
    color: white;
    padding-right: 1rem;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    &:hover fa-circle-check {
      transform: rotate(360deg);
      transition-duration: 0.9s;
    }
  }
}

.menus-meal__names {
  display: flex;
  flex-direction: column;
  & h3,
  p {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0;
    align-items: center;
  }
}

.menus-meal__price {
  align-items: flex-end;
  gap: 5rem;
  font-weight: 500;
}

.menus-meal__dish {
  flex-direction: column;
  width: 100%;

  &__title {
    font-weight: 100;
    position: relative;
    top: 1rem;
    text-transform: uppercase;
    padding-bottom: 0.5rem;
  }

  &__title:after {
    content: "";
    width: 3.2rem;
    height: 0.25rem;
    margin: 1rem 0;
    bottom: -1.2rem;
    left: 0;
    position: absolute;
    background-color: $colour-tertiaire;
  }
}

.menus-meal__desserts {
  flex-direction: column;
  width: 100%;
  padding-bottom: 3rem;

  &__title {
    font-weight: 100;
    position: relative;
    text-transform: uppercase;
    padding-bottom: 0.5rem;
  }

  &__title:after {
    content: "";
    width: 3rem;
    height: 0.25rem;
    margin: 1rem 0;
    bottom: -1.2rem;
    left: 0;
    position: absolute;
    background-color: $colour-tertiaire;
  }
}

.bloc__link {
  color: $colour-white;
}

/*desktop*/
@media screen and (min-width:768px) {
  body{
    width:auto;
  }
}

  @media screen and (min-width:992px) {
    body{
      width:auto;
    }
  .menus-meal {
    flex-direction: row;
    gap: 1.2rem;
  }
}