@mixin btn{
    height: 3.2rem;
    color: $colour-white;
    font-weight: 500;
    font-size: 1.2rem;
    background-image: linear-gradient($colour-secondary,
    $colour-primary);
    padding: 1rem 2rem;
    border: none;
    border-radius: 2rem;
    box-shadow: 0px 0px 16px #0000002e;
    cursor: pointer;
    transition: all 1.1s;
    &.btn:hover {
        transform: scale(1.1);
        color:$colour-blue; 
        opacity: 0.8;   
    }
}