@mixin box-shadow {
    box-shadow: 0.25rem 0.25rem 0.5rem #00000033;
}

@mixin padding {
    padding: 0rem 0.3rem;
}

@mixin btn {
    height: 3.92rem;
    color: $colour-white;
    font-weight: 500;
    font-size: 1.1rem;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient($colour-secondary,
            $colour-primary);
    padding: 0.75rem 1.8rem;
    border: none;
    border-radius: 2rem;
    @include box-shadow;
    cursor: pointer;
    transition: all 1.1s;

    & :hover {
        transform: scale(1.1);
        color: $colour-blue;
        opacity: 0.8;
    }
}

@mixin icon {
    font-weight: 400;
    right: 2rem;
    bottom: 3rem;
    font-size: 1.7rem;
    position: absolute;

    &:hover {
        font-weight: 900;
        background: linear-gradient($colour-secondary, $colour-primary);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}