@mixin box-shadow {
    box-shadow: 0.25rem 0.25rem 0.5rem #00000033;
}

@mixin padding {
    padding: 0rem 0.3rem;
}

@mixin btn {
    color: $colour-white;
    font-weight: 500;
    font-size: 1rem;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient($colour-secondary,
            $colour-primary);
    padding: 0.88rem 1.4rem;
    border: none;
    border-radius: 2rem;
    @include box-shadow;
    cursor: pointer;
    transition: all 1.1s;

    &:hover {
        color: $colour-blue;
        opacity: 0.8;
    }
}

@mixin btnheart{
    padding: 0;
    align-items: center;
    justify-content: center;
    font-weight: lighter;
    right: 2rem;
    font-size: 1.7rem;
    background-color: transparent;
    border: none;
    position: absolute;
    &:hover{
        font-weight: 900;
        background: linear-gradient($colour-secondary, $colour-primary);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}