$colour-primary:#9356DC;
$colour-secondary:#ff7ad9;
$colour-tertiaire:#99E2D0;
$colour-black:#000000;
$colour-grey:#f3f3f3;
$colour-white:#fff;
$colour-blue: #0065fc;
$colour-dark-grey:#353535;
$colour-light-grey:#f6f6f6;
$colour-verylight-grey:#EAEAEA;
$colour-green:#008766;
$colour-very-lightgreen:#99e2d0;
