*,
*::after,
*::before{
    margin:0;
    padding:0;
}

body{
    box-sizing: border-box;
    background: #ffffff;
    font-family: "Roboto", sans-serif;
    margin: auto;
    width: auto;  
}

main {
    width: auto;
    margin: auto;
    padding: 0 0.1rem;
}
